<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌曲搜索</title>
    <link rel="shortcut icon" href="XianLinICO.ico" type="image/x-icon">
    <style>
        .time {
            font-size: 13px;
            color: #999;
        }
        .bottom {
            margin-top: 13px;
            line-height: 12px;
        }
        .button {
            padding: 0;
            float: right;
        }
        .image {
            width: 100%;
            display: block;
        }
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }
    </style>
</head>
<body>
<!--<body background="https://api.ixiaowai.cn/mcapi/mcapi.php">-->
<!--主页标题-->
<h1>主页</h1>
<div id="app">
    <el-row>
        <el-col :span="5"><div class="grid-content bg-purple-dark">
            <el-input v-model="MusicName"  placeholder="请输入歌曲名称"></el-input>
        </div></el-col>
    </el-row>
    <el-row>
        <el-button type="primary" @click="search">搜索</el-button>
    </el-row>
    <el-row>
        <el-col :span="8" v-for="(o, index) in 1" :key="o" :offset="index > 0 ? 2 : 0">
            <el-card :body-style="{ padding: '0px' }" >
                <img :src=data.Cover class="image">
                <div style="padding: 12px;">
                    <span>{{data.Music}}</span>
                    <div class="bottom clearfix">
                        <time class="time">歌手:{{ data.Singer }}</time>
                        <el-link :href="data.Music_Url" target="_blank" type="success" class="button">网易云链接</el-link>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>

    <audio class="playback" :src=data.Url controls="controls" autoplay="autoplay" ></audio>

</div>
<script src="js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="element-ui/lib/index.js"></script>
<!--引入axios文件-->
<script src="js/axios.min.js"></script>
<script>
    new Vue({
        el:"#app",
        mounted(){
            this.getVideo();
        },
        methods:{
            // 获取音乐数据
            search(){
                var _this = this;
                //发送异步请求
                axios({
                    method:"get",
                    url:"http://ovooa.com/API/wydg/api.php?msg="+_this.MusicName+"&n=1&type=TEXT",
                }).then(function (response) {
                    // console.log(response);
                    let res = response.data;
                    _this.data = res.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getVideo(){
                document.querySelector('.playback').volume =0.09;
                console.log("音量")
            },
        },
        data(){
            return {
                MusicName:"",
                data:{
                    "Id": 1852571036,
                    "Music": "RGB",
                    "Cover": "http://p3.music.126.net/mqcNbwvnyCq4HuFrP1jW-w==/109951166079731782.jpg",
                    "Singer_Array": [
                        "YOASOBI"
                    ],
                    "Singer": "YOASOBI",
                    "Url": "http://music.163.com/song/media/outer/url?id=1852571036",
                    "Music_Url": "https://music.163.com/#/song?id=1852571036",
                },
                currentDate: new Date()
            }
        }
    });
</script>
</body>
</html>